name: Auto-Deployment

on:
  push:
    branches:
      - main
      - r2
      - hot-fix
      - hot-fix-release
    paths-ignore: # Avoid triggering on PR merges with specific commit messages
      - '**/cypress/**'  

jobs:
  code_quality_check:
    runs-on: ubuntu-latest
    if: |
      !contains(github.event.head_commit.message, '[skip ci]') &&
      !contains(github.event.head_commit.message, 'Merge branch ''main'' into ') &&
      !(
        github.event_name == 'push' &&
        (github.ref == 'refs/heads/hot-fix' || github.ref == 'refs/heads/r2' || github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/hot-fix-release') &&
        github.event.before == 'refs/heads/main'
      ) &&
      !(
        github.event_name == 'pull_request' &&
        github.base_ref == 'refs/heads/main' &&
        (github.ref == 'refs/heads/hot-fix' || github.ref == 'refs/heads/r2' || github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/hot-fix-release')
      )
    steps:
      - name: Use Node.js v20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          
      - name: Checkout head branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0

      - name: Install dependencies
        run: |
          npm install -g eslint
          pip install pylint

      - name: Lint JavaScript files
        run: |
          set -e
          git diff --name-only --diff-filter=ACMRT HEAD~1 HEAD | grep -E '\.js$' | grep -v '\.cy\.js$' | while IFS= read -r file; do
            output=$(npx eslint --config=./eslint.config.js "$file")
            echo "$output"
            total_errors_warnings=$(echo "$output" | grep -Eo '[0-9]+ (error|warning)' | awk '{sum += $1} END {print sum}')
            if [ "${total_errors_warnings:-0}" -gt 90 ]; then
              echo "Linting problems are not within acceptable range (>90) for file: $file. Failing the job."
              exit 1
            fi
          done || exit 1

      - name: Lint Python files
        run: |
          set -e
          git diff --name-only --diff-filter=ACMRT HEAD~1 HEAD | grep '.py$' | while IFS= read -r file; do
            output=$(pylint "$file")
            echo "$output"
            rating=$(echo "$output" | grep 'rated at' | grep -oE '[0-9]+\.[0-9]+' | head -1)
            if (( $(echo "$rating < 6" | bc -l) )); then
              echo "Linting rating is less than 6 for file: $file. Failing the job."
              exit 1
            fi
          done || exit 1

  quality:
    runs-on: ubuntu-latest
    if: |
      !contains(github.event.head_commit.message, '[skip ci]') &&
      !contains(github.event.head_commit.message, 'Merge branch ''main'' into ') &&
      !(
        github.event_name == 'push' &&
        (github.ref == 'refs/heads/hot-fix' || github.ref == 'refs/heads/r2' || github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/hot-fix-release') &&
        github.event.before == 'refs/heads/main'
      ) &&
      !(
        github.event_name == 'pull_request' &&
        github.base_ref == 'refs/heads/main' &&
        (github.ref == 'refs/heads/hot-fix' || github.ref == 'refs/heads/r2' || github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/hot-fix-release')
      )
    needs: code_quality_check
    env:
      HOST: ${{ vars.QA_HOST }}
      PROTOCOL: ${{ vars.QA_PROTOCOL }}
      CLIENT_SCRIPT_END_POINT: ${{ vars.QA_CLIENT_SCRIPT_END_POINT }}
      SERVER_SCRIPT_END_POINT: ${{ vars.QA_SERVER_SCRIPT_END_POINT }}
      REPORT_END_POINT: ${{ vars.QA_REPORT_END_POINT }}
      LETTER_HEAD_END_POINT: ${{ vars.QA_LETTER_HEAD_END_POINT }}
      PRINT_FORMAT_END_POINT: ${{ vars.QA_PRINT_FORMAT_END_POINT }}
      PERM_END_POINT: ${{ vars.QA_PERM_END_POINT }}
      CUSTOM_FIELD_END_POINT: ${{ vars.QA_CUSTOM_FIELD_END_POINT }}
      DOCTYPE_END_POINT: ${{ vars.QA_DOCTYPE_END_POINT }}
      USER_PERMISSION : ${{ vars.QA_USER_PERMISSION }}
      KEY: ${{ vars.QA_KEY }}

    steps:
      - name: Use Node.js v20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Checkout
        uses: actions/checkout@v4

      - name: Uploading the Custom DocType
        run: |
          if grep -q "custom_doctype" ci/migrate.txt; then
            echo "Allows the Custom DocType Configuration job to proceed."
            npm i
            npm run update_doctype
          else
            echo "Does not allow the Custom DocType Configuration job to proceed, skipping."
            exit 0
          fi

      - name: Upload Custom DocFields
        run: |
          if grep -q "custom_fields" ci/migrate.txt; then
            echo "Allows the DocFields Configuration job to proceed."
            npm i
            npm run update_field
          else
            echo "Does not allow the DocFields Configuration job to proceed, skipping."
            exit 0
          fi

      - name: Upload the files
        run: |
          npm i
          npm run upload

      - name: Upload Roles and Permission
        run: |
          if grep -q "roles_permission" ci/migrate.txt; then
            echo "Allows the Roles and Permission Configuration job to proceed."
            npm i
            npm run upload_perm
          else
            echo "Does not allow the Roles and Permission Configuration job to proceed, skipping."
            exit 0
          fi

      - name: Upload User Permission
        run: |
          if grep -q "user_permission" ci/migrate.txt; then
            echo "Allows the User Permission Configuration job to proceed."
            npm i
            npm run update_user_permission
          else
            echo "Does not allow the User Permission Configuration job to proceed, skipping."
            exit 0
          fi

      - name: Upload Letterhead and Printformat
        run: |
          if grep -q "print_format" ci/migrate.txt; then
            echo "Allows the Letter Head and Print Format Configuration job to proceed."
            npm i
            npm run upload_letterhead_printformat
          else
            echo "Does not allow the Letter Head and Print Format Configuration job to proceed, skipping."
            exit 0
          fi

      - name: Upload Documents
        run: |
          if grep -q "documents" ci/migrate.txt; then
            echo "Allows the Documents Configuration job to proceed."
            npm i
            npm run update_document
          else
            echo "Does not allow the Documents Configuration job to proceed, skipping."
            exit 0
          fi

      - name: Delete Files
        run: |
          if grep -q "delete_files" ci/migrate.txt; then
            echo "Allows the Deletion of Files to proceed"
            npm i
            npm run delete_record
          else
            echo "Does not allows the Deletion of Files to proceed, skipping."
            exit 0
          fi
          
  cypress_wait:
    runs-on: ubuntu-latest
    needs: quality
    if: |
      !contains(github.event.head_commit.message, '[skip ci]') &&
      !contains(github.event.head_commit.message, 'Merge branch ''main'' into ') &&
      !(
        github.event_name == 'push' &&
        (github.ref == 'refs/heads/hot-fix' || github.ref == 'refs/heads/r2' || github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/hot-fix-release') &&
        github.event.before == 'refs/heads/main'
      ) &&
      !(
        github.event_name == 'pull_request' &&
        github.base_ref == 'refs/heads/main' &&
        (github.ref == 'refs/heads/hot-fix' || github.ref == 'refs/heads/r2' || github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/hot-fix-release')
      )

    steps:
      - uses: trstringer/manual-approval@v1
        with:
          secret: ${{ github.TOKEN }}
          approvers: Eswari-Manie
          minimum-approvals: 1
          issue-title: "Waiting for cypress test"
          issue-body: "Please approve or deny for conducting the cypress test in Quality"

  ### Settings > Action > General --  Allow github actions to create and approve pr (to create pr in workflow)

  cypress_test:
    runs-on: ubuntu-latest
    needs: cypress_wait
    if: |
      !contains(github.event.head_commit.message, '[skip ci]') &&
      !contains(github.event.head_commit.message, 'Merge branch ''main'' into ') &&
      !(
        github.event_name == 'push' &&
        (github.ref == 'refs/heads/hot-fix' || github.ref == 'refs/heads/r2' || github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/hot-fix-release') &&
        github.event.before == 'refs/heads/main'
      ) &&
      !(
        github.event_name == 'pull_request' &&
        github.base_ref == 'refs/heads/main' &&
        (github.ref == 'refs/heads/hot-fix' || github.ref == 'refs/heads/r2' || github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/hot-fix-release')
      )
    env:
      USER_NAME: ${{ secrets.TEST_USER_NAME }}
      PASSWORD: ${{ secrets.TEST_PASSWORD }}

    steps:
      - name: Use Node.js v20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          submodules: true
          token: ${{ secrets.TEST_REPO_KEY }}

      - name: Read Commit Hash
        id: read_commit_hash
        run: |
          COMMIT_HASH=$(cat ci/commit.txt)
          echo "COMMIT_HASH=${COMMIT_HASH}" >> $GITHUB_ENV

      - name: Initialize and Update Submodule to Specific Commit
        run: |
          git submodule update --init --recursive
          cd testAutomate
          git fetch origin
          git checkout ${{ env.COMMIT_HASH }}
          cd -

      - name: Install Dependencies in Submodule
        working-directory: testAutomate
        run: |
          npm i

      - name: Clean Up Existing Cypress Folder in Parent Repo
        run: |
          rm -rf cypress
          mkdir -p cypress/e2e cypress/fixtures cypress/support

      - name: Copy Cypress Folder from Submodule to Parent Repo
        run: |
          rsync -a testAutomate/cypress/e2e/ cypress/e2e/
          rsync -a testAutomate/cypress/fixtures/ cypress/fixtures/
          rsync -a testAutomate/cypress/support/ cypress/support/

      - name: Commit and Push Changes to New Branch in Parent Repo
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name 'Fathima786Irfana'
          git config --global user.email 'fathima.irfana@lmnas.com'
          CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD)
          BRANCH_NAME=cypress-results-$(date +%Y%m%d%H%M%S)
          git checkout -b $BRANCH_NAME
          git add ./cypress/e2e ./cypress/fixtures ./cypress/support
          git commit -m 'Replace Cypress folder from submodule [skip ci]'
          git push origin $BRANCH_NAME
          echo "Creating pull request from $BRANCH_NAME to $CURRENT_BRANCH"
          gh pr create --base $CURRENT_BRANCH --head $BRANCH_NAME --title "Replace Cypress folder from submodule" --body "This PR includes the Cypress test results from the submodule, replacing the existing Cypress folder."
        continue-on-error: true

      - name: Merge PR and Delete Branch
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PR_NUMBER=$(gh pr list --head $BRANCH_NAME --json number,title --jq '.[] | select(.title | contains("[skip ci]")) | .number' | head -n 1)
          gh pr merge $PR_NUMBER --merge --delete-branch --admin
        continue-on-error: true

      - name: Clean Up GitHub CLI Credentials
        if: always()
        run: |
          rm -f ~/.config/gh/hosts.yml

      - name: Run Cypress Tests in Submodule
        working-directory: testAutomate
        run: npx cypress run --spec "cypress/e2e/*.cy.js" --headless --browser chrome --config-file=./cypress.config.cjs

  wait_for_approval:
    runs-on: ubuntu-latest
    needs: cypress_test
    if: |
      !contains(github.event.head_commit.message, '[skip ci]') &&
      !contains(github.event.head_commit.message, 'Merge branch ''main'' into ') &&
      !(
        github.event_name == 'push' &&
        (github.ref == 'refs/heads/hot-fix' || github.ref == 'refs/heads/r2' || github.ref == 'refs/heads/develop') &&
        github.event.before == 'refs/heads/main'
      ) &&
      !(
        github.event_name == 'pull_request' &&
        github.base_ref == 'refs/heads/main' &&
        (github.ref == 'refs/heads/hot-fix' || github.ref == 'refs/heads/r2' || github.ref == 'refs/heads/develop')
      ) &&
      !(
        github.ref == 'refs/heads/hot-fix' || github.ref == 'refs/heads/r2' || github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/hot-fix-release'
      )

    steps:
      - uses: trstringer/manual-approval@v1
        with:
          secret: ${{ github.TOKEN }}
          approvers: arun-lmnas
          minimum-approvals: 1
          issue-title: "Deploying to the production"
          issue-body: "Please approve or deny the production deployment"

  production:
    runs-on: ubuntu-latest
    needs: wait_for_approval
    if: |
      !contains(github.event.head_commit.message, '[skip ci]') &&
      !contains(github.event.head_commit.message, 'Merge branch ''main'' into ') &&
      !(
        github.event_name == 'push' &&
        (github.ref == 'refs/heads/hot-fix' || github.ref == 'refs/heads/r2' || github.ref == 'refs/heads/develop') &&
        github.event.before == 'refs/heads/main'
      ) &&
      !(
        github.event_name == 'pull_request' &&
        github.base_ref == 'refs/heads/main' &&
        (github.ref == 'refs/heads/hot-fix' || github.ref == 'refs/heads/r2' || github.ref == 'refs/heads/develop')
      ) &&
      !(
        github.ref == 'refs/heads/hot-fix' || github.ref == 'refs/heads/r2' || github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/hot-fix-release'
      )
    env:
      HOST: ${{ vars.PROD_HOST }}
      PROTOCOL: ${{ vars.PROD_PROTOCOL }}
      CLIENT_SCRIPT_END_POINT: ${{ vars.PROD_CLIENT_SCRIPT_END_POINT }}
      SERVER_SCRIPT_END_POINT: ${{ vars.PROD_SERVER_SCRIPT_END_POINT }}
      REPORT_END_POINT: ${{ vars.PROD_REPORT_END_POINT }}
      LETTER_HEAD_END_POINT: ${{ vars.PROD_LETTER_HEAD_END_POINT }}
      PRINT_FORMAT_END_POINT: ${{ vars.PROD_PRINT_FORMAT_END_POINT }}
      PERM_END_POINT: ${{ vars.PROD_PERM_END_POINT }}
      CUSTOM_FIELD_END_POINT: ${{ vars.PROD_CUSTOM_FIELD_END_POINT }}
      DOCTYPE_END_POINT: ${{ vars.PROD_DOCTYPE_END_POINT }}
      USER_PERMISSION : ${{ vars.PROD_USER_PERMISSION }}
      KEY: ${{ vars.PROD_KEY }}

    steps:
      - name: Use Node.js v20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          
      - name: Checkout
        uses: actions/checkout@v4

      - name: Uploading the Custom DocType
        run: |
          if grep -q "custom_doctype" ci/migrate.txt; then
            echo "Allows the Custom DocType Configuration job to proceed."
            npm i
            npm run update_doctype
          else
            echo "Does not allow the Custom DocType Configuration job to proceed, skipping."
            exit 0
          fi

      - name: Upload Custom DocFields
        run: |
          if grep -q "custom_fields" ci/migrate.txt; then
            echo "Allows the DocFields Configuration job to proceed."
            npm i
            npm run update_field
          else
            echo "Does not allow the DocFields Configuration job to proceed, skipping."
            exit 0
          fi

      - name: Upload the files
        run: |
          npm i
          npm run upload

      - name: Upload Roles and Permission
        env:
          KEY: ${{ vars.PROD_ROLE_KEY }}
        run: |
          if grep -q "roles_permission" ci/migrate.txt; then
            echo "Allows the Roles and Permission Configuration job to proceed."
            npm i
            npm run upload_perm
          else
            echo "Does not allow the Roles and Permission Configuration job to proceed, skipping."
            exit 0
          fi

      - name: Upload User Permission
        run: |
          if grep -q "user_permission" ci/migrate.txt; then
            echo "Allows the User Permission Configuration job to proceed."
            npm i
            npm run update_user_permission
          else
            echo "Does not allow the User Permission Configuration job to proceed, skipping."
            exit 0
          fi

      - name: Upload Letterhead and Printformat
        run: |
          if grep -q "print_format" ci/migrate.txt; then
            echo "Allows the Letter Head and Print Format Configuration job to proceed."
            npm i
            npm run upload_letterhead_printformat
          else
            echo "Does not allow the Letter Head and Print Format Configuration job to proceed, skipping."
            exit 0
          fi

      - name: Upload Documents
        run: |
          if grep -q "documents" ci/migrate.txt; then
            echo "Allows the Documents Configuration job to proceed."
            npm i
            npm run update_document
          else
            echo "Does not allow the Documents Configuration job to proceed, skipping."
            exit 0
          fi
      
      - name: Delete Files
        run: |
          if grep -q "delete_files" ci/migrate.txt; then
            echo "Allows the Deletion of Files to proceed"
            npm i
            npm run delete_record
          else
            echo "Does not allows the Deletion of Files to proceed, skipping."
            exit 0
          fi
      
        
